# Using heart disease dataset applying different classifiers and also using PCA, whether it is improving our score or not

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

## Some data exploration

In [3]:
df.Cholesterol.describe()

count    918.000000
mean     198.799564
std      109.384145
min        0.000000
25%      173.250000
50%      223.000000
75%      267.000000
max      603.000000
Name: Cholesterol, dtype: float64

## Going through outliers

In [4]:
df[df.Cholesterol> 3*df.Cholesterol.std()+ df.Cholesterol.mean()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [5]:
df1= df[df.Cholesterol<=(3*df.Cholesterol.std()+ df.Cholesterol.mean())]

In [6]:
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [7]:
df1[df1.RestingBP> 3*df1.RestingBP.std()+ df1.RestingBP.mean()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [8]:
df2=df1[df1.RestingBP<=(3*df1.RestingBP.std()+ df1.RestingBP.mean())]
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [9]:
df2[df2.Oldpeak>(3*df2.Oldpeak.std()+ df2.Oldpeak.mean())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [10]:
df3=df2[df2.Oldpeak<=(3*df2.Oldpeak.std()+ df2.Oldpeak.mean())]

In [11]:
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [12]:
df3.FastingBS.unique()

array([0, 1], dtype=int64)

In [13]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [14]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [15]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [16]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

## Providing labels to our text data

In [17]:
df4= df3.copy()
df4.ST_Slope.replace({'Up':1,'Flat':2,'Down':3}, inplace=True)
df4.ExerciseAngina.replace({'N':0,'Y':1}, inplace=True)
df4.RestingECG.replace({'Normal':1, 'ST':2, 'LVH':3}, inplace=True)
df4.ChestPainType.replace({'ATA':1, 'NAP':2, 'ASY':3, 'TA':4}, inplace=True)

In [18]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,0,0.0,1,0
1,49,F,2,160,180,0,1,156,0,1.0,2,1
2,37,M,1,130,283,0,2,98,0,0.0,1,0
3,48,F,3,138,214,0,1,108,1,1.5,2,1
4,54,M,2,150,195,0,1,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,0,1.2,2,1
914,68,M,3,144,193,1,1,141,0,3.4,2,1
915,57,M,3,130,131,0,1,115,1,1.2,2,1
916,57,F,1,130,236,0,3,174,0,0.0,2,1
917,38,M,2,138,175,0,1,173,0,0.0,1,0

In [19]:
Dummies=pd.get_dummies(df4.Sex)

In [20]:
Dummies

     F  M
0    0  1
1    1  0
2    0  1
3    1  0
4    0  1
..  .. ..
913  0  1
914  0  1
915  0  1
916  1  0
917  0  1

[902 rows x 2 columns]

In [21]:
Dummies=Dummies.drop(['F'],axis='columns')

In [22]:
merged=pd.concat([df4, Dummies], axis='columns')

In [23]:
merged

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,M
0,40,M,1,140,289,0,1,172,0,0.0,1,0,1
1,49,F,2,160,180,0,1,156,0,1.0,2,1,0
2,37,M,1,130,283,0,2,98,0,0.0,1,0,1
3,48,F,3,138,214,0,1,108,1,1.5,2,1,0
4,54,M,2,150,195,0,1,122,0,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,0,1.2,2,1,1
914,68,M,3,144,193,1,1,141,0,3.4,2,1,1
915,57,M,3,130,131,0,1,115,1,1.2,2,1,1
916,57,F,1,130,236,0,3,174,0,0.0,2,1,0
917,38,M,2,138,175,0,1,173,0,0.0,1,0,1

In [24]:
merged.drop(['Sex'],axis='columns')

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,M
0,40,1,140,289,0,1,172,0,0.0,1,0,1
1,49,2,160,180,0,1,156,0,1.0,2,1,0
2,37,1,130,283,0,2,98,0,0.0,1,0,1
3,48,3,138,214,0,1,108,1,1.5,2,1,0
4,54,2,150,195,0,1,122,0,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,0,1.2,2,1,1
914,68,3,144,193,1,1,141,0,3.4,2,1,1
915,57,3,130,131,0,1,115,1,1.2,2,1,1
916,57,1,130,236,0,3,174,0,0.0,2,1,0
917,38,2,138,175,0,1,173,0,0.0,1,0,1

In [25]:
X= merged.drop(['HeartDisease','Sex'], axis='columns')
X

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,0,1.2,2,1
914,68,3,144,193,1,1,141,0,3.4,2,1
915,57,3,130,131,0,1,115,1,1.2,2,1
916,57,1,130,236,0,3,174,0,0.0,2,0
917,38,2,138,175,0,1,173,0,0.0,1,1

In [26]:
y=merged.HeartDisease

In [27]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 902, dtype: int64

## Scaling the data

In [28]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_scaled= scaler.fit_transform(X)
X_scaled

C:\Users\Harshendra singh bha\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

array([[-1.42896269, -1.6990351 ,  0.46089071, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       [-0.47545956, -0.52558207,  1.5925728 , ...,  0.14079864,
         0.62072967, -1.94228905],
       [-1.74679706, -1.6990351 , -0.10495034, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.33831089,
         0.62072967,  0.51485643],
       [ 0.37209878, -1.6990351 , -0.10495034, ..., -0.84676261,
         0.62072967, -1.94228905],
       [-1.64085227, -0.52558207,  0.3477225 , ..., -0.84676261,
        -1.0456339 ,  0.51485643]])

## Splitting the data into test and train sample

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [30]:
from sklearn.svm import SVC
svm= SVC()
svm.fit(X_train, y_train)

SVC()

In [31]:
svm.score(X_test, y_test)

0.850828729281768

In [32]:
from sklearn.linear_model import LogisticRegression
lg= LogisticRegression()
lg.fit(X_train, y_train)

LogisticRegression()

In [33]:
lg.score(X_test, y_test)

0.856353591160221

In [34]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=80)
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=80)

In [35]:
rfc.score(X_test, y_test)

0.8784530386740331

In [36]:
X

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,0,1.2,2,1
914,68,3,144,193,1,1,141,0,3.4,2,1
915,57,3,130,131,0,1,115,1,1.2,2,1
916,57,1,130,236,0,3,174,0,0.0,2,0
917,38,2,138,175,0,1,173,0,0.0,1,1

## Using PCA and giving argument that come up with 98% useful data from our input data

In [55]:
from sklearn.decomposition import PCA
pca= PCA(0.98)
X_pca= pca.fit_transform(X)

In [56]:
X_pca

array([[ 93.82578617, -29.40972153, -11.58522038],
       [-15.58358373, -14.11138644, -31.6798574 ],
       [ 83.29717401,  38.67558307,  15.4020132 ],
       ...,
       [-67.5736769 ,  17.61569842,   4.35174267],
       [ 40.7057408 , -33.39645499,  -5.99270192],
       [-19.91303046, -37.29272636, -13.31316165]])

In [57]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [58]:
df=pd.DataFrame(X_train_pca)

In [59]:
df

              0          1          2
0    144.172364 -27.811488   7.352090
1   -198.056921   1.603450   8.288061
2     58.297662   0.733777  13.128729
3     32.542392  12.260930 -14.933648
4    114.017879  -4.331910   2.435212
..          ...        ...        ...
716   95.331203 -10.339059 -28.386909
717   38.815037  49.056627  41.050773
718   17.178709 -30.096944   4.654350
719 -198.459568   2.328898  17.757103
720   92.499020   3.391230 -26.313882

[721 rows x 3 columns]

In [60]:
lg1= LogisticRegression()
lg1.fit(X_train_pca, y_train)

LogisticRegression()

In [61]:
lg1.score(X_test_pca, y_test)

0.7016574585635359

In [62]:
rfc1=RandomForestClassifier(n_estimators=80)
rfc1.fit(X_train_pca, y_train)

RandomForestClassifier(n_estimators=80)

In [63]:
rfc1.score(X_test_pca, y_test)

0.712707182320442

### PCA didn't improved the score, it means here we lose the accuracy on reducing the dimensions